[Unit]
Description=Atlassian Jira
After=network.target
Requires=jira.socket

[Service]
Type=forking
User=root
PIDFile=/opt/atlassian/jira/work/catalina.pid
ExecStart=/opt/atlassian/jira/bin/start-jira.sh
ExecStop=/opt/atlassian/jira/bin/stop-jira.sh

# Limits
Nice=15
CPUShares=500
StartupCPUShares=1000
MemoryLimit=128M
BlockIOWeight=50

Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target